:root {
	--white: #ffffff;
	--dark: #121818;
	--red: #d61c4e;
	--playerX: #09c372;
	--playerO: #498afb;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Itim", cursive;
}

.background {
	background: var(--dark);
	height: 100vh;
	padding-top: 1px;
}

.title {
	color: var(--white);
	text-align: center;
	font-size: 40px;
	margin-top: 10%;
}

.display {
	color: var(--white);
	font-size: 25px;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.hide {
	display: none;
}

.container {
	margin: 0 auto;
	display: grid;
	grid-template: 33% 33% 33% / 33% 33% 33%;
	max-width: 300px;
}

.tile {
	border: 1px solid var(--white);
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.playerX {
	color: var(--playerX);
	font-size: 40px;
}

.playerO {
	color: var(--playerO);
	font-size: 40px;
}

.control {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	margin-top: 1em;
}

.control button {
	margin: 0 1em;
	padding: 0.5em;
	border: 1px solid var(--white);
	border-radius: 5px;
	background: var(--red);
	color: var(--white);
	font-size: 20px;
	cursor: pointer;
}
